
   

body{
     background-color: #F1BBDF;
    
}


.snowwhite{
     
      width: 550px;
      height: 600px;
   

}


.images{
    object-fit: cover;
     animation: imgzoom 4.5s ease infinite;

    position: absolute;
    top: 20px;
    width: 150px;


   
}



.fram{
     object-fit: cover;
     animation: imgzoom 4.5s ease infinite;
    width: 200px;
   background-image: url(../images/toran.svg); 
    
}



.invitation{
    font-family: "Bevan", serif;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   
     background-position: center;
     background-image: url(../images/decoration\ 1.svg);
   
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    

}



@keyframes imgzoom{
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1.2) rotate(20deg);}
}



